<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="com.project.kth.pwpr3d.app"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/com.project.kth.pwpr3d.app/css/default.css">
         </property>
         <property
               name="appName"
               value="com.project.kth.pwpr3d.app">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="com.project.kth.pwpr3d.app.intro">
      </intro>
      <introProductBinding
            introId="com.project.kth.pwpr3d.app.intro"
            productId="com.project.kth.pwpr3d.app.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="com.project.kth.pwpr3d.app.introConfigId"
            introId="com.project.kth.pwpr3d.app.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension>

</plugin>
